.header {
  background-color: #f8f9fa;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 10000000;
  height: 4rem;
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
  border-bottom: 1px groove #dee2e6;
}

.header .buttons {
  display: flex;
  margin-top: 0.5em;
}

.buttons .nav {
  background-color: #ced4da;
  border-radius: 5px;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  border: none;
  box-shadow: 0 2px #495057;
}

.buttons .nav + .nav {
  margin-left: 0.5rem;
}

.nav:hover {
  background-color: #868e96;
  color: #ffffff;
}

.header .title {
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  margin: 0 auto;
  text-shadow: -2px -2px #fff, 2px -2px #fff, -2px 2px #fff, 2px 2px #fff;
}
.title .page-name {
  position: fixed;
  top: -1vh;
  left: 47vw;
  font-size: 1.4em;
}

.header .search {
  margin-left: auto;
}

.profile-container {
  height: 25rem;
  background-color: #ffffff;
}

.profile-container .profile-top {
  height: 85%;
  background-color: #38d9a9;
}

.profile-top .profile-image {
  position: absolute;
  z-index: 1000000;
  top: 12vh;
  left: 24vh;
  box-shadow: -4px -4px #fff, 4px -4px #fff, -4px 4px #fff, 4px 4px #fff;
  border-radius: 200%;
}
.profile-container .profile-nav {
  background-color: #f1f2f3;
}

.profile-container #follow {
  width: 8rem;
  font-size: 1.25rem;
  font-weight: 900;

  background-color: #ffffff00;
  border: 1px solid #2bac85;
  color: #2bac85;
}

.profile-container #follow:hover {
  background-color: #38d9a9;
  color: #ffffff;
  border-color: #38d9a9;
}

.profile-container #follow[class*="Followed"]{
  background-color: #2bac85;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.profile-container #btn:active {
  background-color: #38d9a9;
  color: #ffffff;
  border-color: #38d9a9;
}

.container-fluid {
  padding-top: 0.5rem;
}

#posts-partition {
  margin-top: 0.5rem;
  display: none;
}

.gedf-card + .gedf-card {
  margin-top: 0.5rem;
}

#input-post {
  resize: none;
}

div.score-card-wrapper{
  margin-bottom: 1em;
}

.score-card {
  height: 200px;
  padding: 1em 1em 1em 1em;
}
.score-card .score-card-img {
  float: left;
}
.score-card .score-card-score {
  float: left;
}
.btn-more {
  margin: 0.5rem 17.1rem 0 17.1rem;
}

.btn-csgg {
  background-color: #38d9a9;
  color: #f1f3f5;
}

.dropdown-toggle {
  color: #38d9a9;
}

.dropdown .dropdown-toggle:hover {
  text-decoration: none;
}
.dropdown .dropdown-toggle:active .dropdown .dropdown-toggle:hover {
  text-decoration: none;
}

.card-link {
  color: #000000;
}

.badge-csgg {
  background-color: #38d9a9;
  color: #ffffff;
}

.fa {
  color: #38d9a9;
}

.material-icons {
  text-decoration: none;
  color: #38d9a9;
  width: 24px;
  height: 24px;
}

.material-icons.nav-icon.left {
  text-decoration: none;
  color: #38d9a9;
  font-size: 3em;
  top: -1vh;
}

.material-icons.nav-icon.right {
  text-decoration: none;
  color: #38d9a9;
  font-size: 3em;
  top: -1vh;
}

.material-icons:hover {
  text-decoration: none;
  cursor: pointer;
  color: #38d9a9;
}

.rank-table {
  width: 100%;
  border: 1px solid #bcbcbc;
}

.rank-table th {
  text-align: center;
  border: 1px solid #bcbcbc;
}

td {
  border: 1px solid #bcbcbc;
}

.rank-table tbody tr:nth-child(2n) {
  background-color: #fdfdfd;
}

.rank-table tbody tr:nth-child(2n + 1) {
  background-color: #e3fae8;
}

.rank-table tbody td:nth-child(1) {
  text-align: center;
}

